.badge {
    font-size: 12px;
    padding: 0 0.7em;
    border-radius: 0.5rem;
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #f44336;
    &.processing {
        background-color: #ff9800;
    }
    &.completed {
        background-color: #2196f3;
    }
    &.error {
        background-color: #f44336;
    }
    &.input {
        background-color: #1e5372;
    }
    &.manual {
        background-color: #ff5722;
    }
    &.success {
        background-color: #28b63e
    }
}
