<div class="relative w-full h-full bg-light flex flex-col overflow-hidden px-15 items-center justify-center gap-30 lg:flex-row lg:justify-around">
    <img src="images/logo/hub-car-spot.png" alt="Logo Hub-car" class="w-96">
    <div class="w-full lg:max-w-2xl">
        <div class="prose prose-sm mx-auto max-w-none">
            <h1>Seu portal de compra e venda de veículos</h1>
            <p class="text-2xl">
                Encontre ou anuncie o carro ideal, tudo em um só lugar!
            </p>
            <p>
                Conte com a plataforma mais completa para compra e venda de veículos, com ferramentas inteligentes, anúncios automáticos e muito mais.
            </p>
        </div>
        <div>
            <a class="mt-8 gap-4" mat-flat-button [color]="'primary'" [routerLink]="'/apps/settings/user-management/list'">
                <span>Ir para a o HubCarSpot</span>
                <mat-icon class="ml-2 icon-size-5" [svgIcon]="'heroicons_mini:arrow-long-right'"></mat-icon>
            </a>
        </div>
    </div>
    <img class="icon-spin reverse absolute w-128 -right-60 -top-60 hidden lg:block xl:w-160" src="images/logo/hub-car-spot-icon.svg" alt="ícone Hub-car">
    <img class="icon-spin absolute w-128 right-60 -bottom-64 hidden lg:block xl:w-160" src="images/logo/hub-car-spot-icon.svg"
        alt="ícone Hub-car">
</div>
