<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden z-90 min-h-screen">
    <mat-drawer-container class="h-full flex-auto">
        <!-- Drawer -->
        <mat-drawer class="flex w-60 min-w-72 dark:bg-gray-900 lg:min-w-100 lg:z-0" [autoFocus]="false"
            [mode]="drawerMode()" [opened]="drawerOpened()" #matDrawer>
            <app-uf-date-filter (onFilterChange)="getTransactions($event)" [fileId]="fileId"></app-uf-date-filter>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col" fuseScrollReset>
            <!-- Main -->
            <ecomm-header title="Transações do arquivo" [breadcrumbs]="breadcrumbs" showButtonToggle
                [description]="pageDescription() | titlecase" iconToggle="filter_alt" (onToggleButton)="toggleDrawer()">
                <div class="flex min-w-0 flex-auto flex-col">
                    <div class="w-full flex-auto p-6 sm:p-10 flex flex-col gap-10 lg:flex-row">
                        <div class="flex flex-col w-full gap-5">
                            @if (fileHasError()) {
                                <fuse-alert type="warn" class="shadow-sm w-full" appearance="border">
                                    <mat-icon class="icon-size-5" fuseAlertIcon [svgIcon]="'heroicons_outline:exclamation-circle'">
                                    </mat-icon>
                                    Houve um erro ao recuperar as Transações do arquivo. Por favor, tente novamente mais tarde.
                                </fuse-alert>
                                }
                            @if(searchControl().afterSearch !== false){
                            @if(searchControl().hasResults) {
                            <div class="bg-card flex flex-col justify-start items-end w-min-4/5 w-full p-6 rounded-2xl h-fit">
                                <div class="w-full flex flex-row justify-end gap-4 mb-7 text-xl" >
                                    <button mat-raised-button class="flex gap-1 bg-red-600 text-white" [disabled]="this.divergenceOfLines === 0" [ngClass]="{'opacity-50': divergenceOfLines === 0}" matTooltip="Download dos erros de transação" (click)="downloadErrors()">
                                        <mat-icon>download</mat-icon>
                                        <span>Download erros</span>
                                    </button>
                                </div>
                                <div class="w-full overflow-x-auto lg:overflow-x-hidden">
                                    <table class="min-w-full overflow-y-visible" mat-table [dataSource]="dataSource"
                                        matSort matSortActive="processingDate" matSortDisableClear multiTemplateDataRows
                                        matSortDirection="desc">

                                        <ng-container matColumnDef="referenceDate">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data de referência</th>
                                            <td mat-cell *matCellDef="let row">{{ row.dataReferencia |
                                                date:'dd/MM/yyyy' }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="uf">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>UF</th>
                                            <td mat-cell *matCellDef="let row">
                                                @if(row.movimento) {
                                                    {{row.movimento.uf}}
                                                } @else {
                                                    <mat-icon class="">cancel</mat-icon>
                                                }
                                                <mat-icon></mat-icon>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="errorsQuantity">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">
                                                Quantidade de erros</th>
                                            <td mat-cell *matCellDef="let row" class="text-right">{{
                                                row.quantidadeTransacaoErro }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="errorsValue">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">
                                                Valor total com erros
                                            </th>
                                            <td mat-cell *matCellDef="let row" class="text-right">{{
                                                row.valorTransacaoErro | currency:
                                                'BRL':'symbol':'1.2-2' : 'pt' }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="transactionsQuantity">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">
                                                Quantidade total de transações</th>
                                            <td mat-cell *matCellDef="let row" class="text-right">{{
                                                row.quantidadeTransacaoTotal }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="transactionsValue">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">
                                                Valor total de transações
                                            </th>
                                            <td mat-cell *matCellDef="let row" class="text-right">{{
                                                row.valorTransacaoTotal | currency:
                                                'BRL':'symbol':'1.2-2' : 'pt' }}</td>
                                        </ng-container>

                                        <ng-container matColumnDef="movementStatus">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">
                                                Status movimento</th>
                                            <td mat-cell *matCellDef="let row" class="text-center">
                                                @if(movementStatusViewDto(row.movimento?.statusId); as status){
                                                <div [ngClass]="status.classes"
                                                    class="flex gap-2 w-fit place-self-center rounded-3xl p-2 px-5 text-white opacity-70 justify-center items-center">
                                                    <mat-icon class="text-white">{{status.icon}}</mat-icon>
                                                    <span>{{status.buttonLabel}}</span>
                                                </div>
                                                } @else {
                                                    Movimento não encontrado
                                                }
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="expand">
                                            <th mat-header-cell *matHeaderCellDef aria-label="row actions" class="text-center">Detalhes</th>
                                            <td mat-cell *matCellDef="let element" class="text-center">
                                                <button mat-icon-button class="place-self-center" aria-label="expand row"
                                                    (click)="toggle(element); $event.stopPropagation()">
                                                    <mat-icon>{{isExpanded(element) ? 'visibility_off' :
                                                        'visibility'}}</mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>

                                        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                                        <ng-container matColumnDef="expandedDetail">
                                            <td mat-cell *matCellDef="let element" [attr.colspan]="columns.length">
                                                <div class="row-detail-wrapper"
                                                    [ngClass]="isExpanded(element) ? 'row-detail-wrapper-expanded p-4':''">
                                                    <div class="row-detail w-full">
                                                        <fuse-masonry class="w-full" [items]="cardDetailConfig"
                                                            [columns]="3" [columnsTemplate]="columnsTemplate">
                                                        </fuse-masonry>
                                                        <ng-template #columnsTemplate let-columns>
                                                            <ng-container *ngFor="let column of columns">
                                                                <div class="flex-1 mx-2 p-2 rounded space-y-8">
                                                                    @for (item of column.items; track $index) {
                                                                    <app-card-detail [config]="item"
                                                                        [dataSource]="element"></app-card-detail>
                                                                    }
                                                                </div>
                                                            </ng-container>
                                                        </ng-template>
                                                    </div>
                                                </div>

                                                <!-- <fuse-masonry class="-mx-2" [items]="cardDetailConfig" [columns]="3"
                                                    [columnsTemplate]="columnsTemplate">
                                                </fuse-masonry>

                                                <ng-template #columnsTemplate let-columns>
                                                    <ng-container *ngFor="let column of columns">

                                                        <div class="flex-1 mx-2 p-2 rounded space-y-8">
                                                            <ng-container *ngFor="let item of column.items">
                                                                <app-card-detail
                                                                    [config]="item"
                                                                    [dataSource]="element"></app-card-detail>
                                                            </ng-container>
                                                        </div>
                                                    </ng-container>
                                                </ng-template> -->
                                            </td>
                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columns"
                                            [class.expanded-row]="isExpanded(row)" (click)="toggle(row)"></tr>
                                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
                                            class="detail-row"></tr>
                                    </table>
                                </div>
                            </div>
                            } @else {
                            <fuse-alert type="primary" class="shadow-sm w-full" appearance="border">
                                <mat-icon class="icon-size-5" fuseAlertIcon [svgIcon]="'mat_outline:search_off'">
                                </mat-icon>
                                Nenhum resultado encontrado para a busca realizada.
                            </fuse-alert>
                            }
                            }
                        </div>
                    </div>
                </div>
            </ecomm-header>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
