<ecomm-header title="Responsáveis e Representantes" [breadcrumbs]="breadcrumbs">
    <div class="flex min-w-0 flex-auto flex-col">

        <div class="w-full flex-auto p-6 sm:p-10 flex flex-col gap-10">

            <div class="bg-card flex flex-col justify-center items-end w-min-4/5 w-full p-6 rounded-2xl"
            [class.hidden]="dataSource.data.length === 0">

                <div class="w-full overflow-x-auto lg:overflow-x-hidden">
                    <table class="min-w-full overflow-y-visible" mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>
                                Nome
                            </th>
                            <td mat-cell *matCellDef="let row" class="whitespace-nowrap">
                                {{row.nmResponsavel}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef>
                                Tipo
                            </th>
                            <td mat-cell *matCellDef="let row" class="whitespace-nowrap"    >
                                {{ getCodTipo(row.codTipo, row.codCargo?.nmCargo) }}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="details">
                            <th mat-header-cell *matHeaderCellDef>
                                Detalhes
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button (click)="detailToggle(row)">
                                    <mat-icon [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef>
                               Editar
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-icon-button
                                [routerLink]="['/apps/registrations/representatives/edit', row.id]"
                                >
                                    <mat-icon [svgIcon]="'mat_outline:edit'"></mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let row;columns: columns"></tr>
                    </table>
                </div>

                <mat-paginator [pageIndex]="pageIndex()" [pageSize]="pageSize()" [length]="totalItems()"
                    (page)="onPageChange($event)">
                </mat-paginator>

            </div>

        </div>
    </div>
</ecomm-header>


<fuse-drawer #previewDrawer [opened]="opened()" class="w-screen min-w-screen sm:w-1/3 sm:min-w-1/3" fixed
    [mode]="'over'" [name]="'previewDrawer'" [position]="'right'" >

    <div class="bg-card flex w-full flex-col overflow-auto">
        <div class="flex h-20 min-h-20 flex-row items-center bg-primary px-6 text-white fixed w-full">
            <div class="ml-3 text-2xl font-semibold tracking-tight">
                Visualizar Responsável / Representante
            </div>
            <button class="ml-auto" mat-icon-button (click)="detailToggle()">
                <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>
        <div class="min-w-full p-5 mt-20">
            <div class="mt-8 text-lg font-medium">Detalhe</div>
            <div class="mt-4 flex flex-col divide-y border-b border-t font-medium">
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Nome</div>
                    <div>{{ detailClient()?.nmResponsavel }}</div>
                </div>
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">CPF</div>
                    <div>{{ detailClient()?.codCpf | cnpjCpf }}</div>
                </div>
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Email</div>
                    <div>{{ detailClient()?.dsEmail}}</div>
                </div>
                <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Telefone</div>
                    <div>{{ detailClient()?.codDddTelefone }}</div>
                </div>
                <!-- <div class="flex items-center justify-between py-3">
                    <div class="text-secondary">Ramal</div>
                    <div>{{ detailClient()?.codRamal }}</div>
                </div> -->
            </div>
        </div>
    </div>
</fuse-drawer>

